@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none !important;
}

/* HOME */
.home {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-logo {
    width: 130px;
    height: 92px;
    margin-top: 72px;
}

.home-input {
    height: 54px;
    width: 261px;
    text-align: center;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-weight: 400;
    font-size: 1.125rem;
    color: black;
    outline: none;
    margin-top: 94px;
}

.home-input::placeholder {
    font-weight: 400;
    font-size: 1.125rem;
    color: #AEAEAE;
}

.home-button {
    background: #E7E7E7;
    border-radius: 9px;
    width: 109px;
    height: 45px;
    border: none;
    font-weight: 400;
    font-size: 1.125rem;
    color: #696969;
    margin-top: 15px;
    
}

/* MAIN */

.main {
    background-color: #F3F3F3;
}

.header {
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    
}

.header img{
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

.header ion-icon {
    font-size: 2.625rem;
    margin-right: 22px;
}

.chat {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 106px;
    height: 100vw;
    gap: 4px;
}


.footer {
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.chat-input{
    border: none;
    outline: none;
    font-style: normal;
    font-size: 1.125rem;
    font-weight: 400;
    color: black;
    margin-left: 17px;
    height: 30px;
}

.chat-input::placeholder{
    font-style: italic;
    font-size: 1.125rem;
    font-weight: 400;
    color: black;
}

.footer ion-icon{
    font-size: 1.625rem;
    margin-right: 17px;
}

/* MODAL */
.modal{
    background-color: black;
    opacity: 0.6;
    position: fixed;
    top: 0;
    z-index: 1;
    right: 259px;
    width: 100%;
    height: 100%;
    
}

.modal-container{
    background-color: white;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 259px;
    right: 0;
    overflow-y: scroll;
}

.modal-container p{
    text-align: center;
    font-size: 1rem;
    color: black;
    font-weight: 700;
    margin: 25px 0;
}

.modal-container li{
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;


}

.icon{
    font-size: 1.25rem;
    margin-left: 20px;
    margin-right: 10px;
}

.checkmark {
    color: #28BB25;
    font-weight: bold;
    right: 27px;
}

/* MESSEGES */
.individual-text{
    text-align: start;
    color:black;
    padding: 10px 0;
    line-height: 20px;
    margin: 0 5px;
    font-size: 0.875rem;
}

.individual-text span:nth-child(1) {

    color: #AAAAAA;
}

.bold {
    font-weight: 700;
}

.status {
    background-color: #DCDCDC;
}

.message {
    background-color: white;
}

.private-message {
    background-color: #FFDEDE;
}